*{
	box-sizing: border-box;
	

}

 h1 {
    text-align: center;
	margin-bottom: 35px;
	
}
h2{
	position: absolute;
	top: -20px;
	right: 0px;
	background-color: red;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	
	
}
div{
	background-color: green;
	
	
}

.chicken  {
	width: 30%;
	float: left;
	padding: 5px;
	position: relative;
	margin: 5px;
	padding-top: 20px;
	border: 1px solid black;
	 
	
}
.beef{
	width:30%;
	float:left;
	padding: 5px;
	position: relative;
	margin: 5px;
	padding-top: 20px;
	border: 1px solid black;
	
	
}
.sushi{
	width:30%;
	float:left;
	padding: 5px;
	position: relative;
	margin: 5px;
	padding-top: 20px;
	border: 1px solid black;
	
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
   
}
/********** desktop devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
  .col-dd-4, {
  float: left; }
    .col-dd-4 {
    width: 30%;}
  }
  /********** tablet devices only **********/
  
  @media (min-width: 768px) and (max-width:991px) {
  .col-td-6, .col-td-12, {
  float: left; }
    .col-td-6 {
    width: 44.5%;}
   .col-td-12 {
   width: 90%;}
  }
  /********** mobile devices only **********/

@media (max-width: 767px){
  .col-md-12, {
  float: left; }
    .col-md-12 {
    width: 90%;}
  }